# Método 1

### Importamos las librerías

In [1]:
import pandas as pd
import gffpandas.gffpandas as gffpd

In [2]:
# Ruta al archivo GFF
gff_filename = "genomic.gff"
gff_df = gffpd.read_gff3(gff_filename)

In [3]:
# Convertir el Gff3DataFrame a un DataFrame de pandas
df = gff_df.df

In [4]:
df['type'].value_counts()

type
exon                  253133
CDS                   220444
mRNA                   27917
region                 21228
gene                   20020
cDNA_match              4989
lnc_RNA                 2229
transcript               595
tRNA                     341
pseudogene               297
primary_transcript       123
miRNA                    123
rRNA                     105
snoRNA                    61
snRNA                     54
tandem_repeat              2
Name: count, dtype: int64

In [5]:
df['source'].value_counts()

source
Gnomon                 502445
RefSeq                  26346
BestRefSeq              20601
tRNAscan-SE               978
cmsearch                  720
BestRefSeq%2CGnomon       571
Name: count, dtype: int64

In [6]:
df

,seq_id,source,type,start,end,score,strand,phase,attributes
0,NC_042493.1,RefSeq,region,1,132544852,.,+,.,ID=NC_042493.1:1..132544852;Dbxref=taxon:7029;...
1,NC_042493.1,Gnomon,gene,6394,8916,.,+,.,ID=gene-LOC100569061;Dbxref=GeneID:100569061;N...
2,NC_042493.1,Gnomon,mRNA,6394,8916,.,+,.,ID=rna-XM_008180056.3;Parent=gene-LOC100569061...
3,NC_042493.1,Gnomon,exon,6394,6810,.,+,.,ID=exon-XM_008180056.3-1;Parent=rna-XM_0081800...
4,NC_042493.1,Gnomon,exon,7944,8916,.,+,.,ID=exon-XM_008180056.3-2;Parent=rna-XM_0081800...
...,...,...,...,...,...,...,...,...,...
551656,NC_011594.1,RefSeq,tRNA,16835,16902,.,-,.,ID=rna-KEG88_t22;Parent=gene-KEG88_t22;Dbxref=...
551657,NC_011594.1,RefSeq,exon,16835,16902,.,-,.,ID=exon-KEG88_t22-1;Parent=rna-KEG88_t22;Dbxre...
551658,NC_011594.1,RefSeq,gene,16906,16971,.,-,.,ID=gene-KEG88_t23;Dbxref=GeneID:64988032;Name=...
551659,NC_011594.1,RefSeq,tRNA,16906,16971,.,-,.,ID=rna-KEG88_t23;Parent=gene-KEG88_t23;Dbxref=...
551660,NC_011594.1,RefSeq,exon,16906,16971,.,-,.,ID=exon-KEG88_t23-1;Parent=rna-KEG88_t23;Dbxre...

---

### Dataframe de Genes

##### Obtenemos los registros de tipo 'gene' y 'pseudogene'

In [7]:
data_genes = df[(df['type']=='gene')|(df['type']=='pseudogene')]

In [8]:
data_genes

,seq_id,source,type,start,end,score,strand,phase,attributes
1,NC_042493.1,Gnomon,gene,6394,8916,.,+,.,ID=gene-LOC100569061;Dbxref=GeneID:100569061;N...
7,NC_042493.1,Gnomon,gene,6860,9850,.,-,.,ID=gene-LOC115033410;Dbxref=GeneID:115033410;N...
13,NC_042493.1,Gnomon,gene,15189,15686,.,+,.,ID=gene-LOC107882353;Dbxref=GeneID:107882353;N...
17,NC_042493.1,Gnomon,gene,105433,127327,.,+,.,ID=gene-LOC107882485;Dbxref=GeneID:107882485;N...
39,NC_042493.1,Gnomon,gene,151002,208448,.,+,.,ID=gene-LOC100166236;Dbxref=APHIDBASE:ACYPI007...
...,...,...,...,...,...,...,...,...,...
551645,NC_011594.1,RefSeq,gene,15802,16779,.,+,.,ID=gene-KEG88_p02;Dbxref=GeneID:7055887;Name=N...
551649,NC_011594.1,RefSeq,gene,16778,16841,.,+,.,ID=gene-KEG88_t20;Dbxref=GeneID:64988016;Name=...
551652,NC_011594.1,RefSeq,gene,16779,16842,.,+,.,ID=gene-KEG88_t21;Dbxref=GeneID:64988030;Name=...
551655,NC_011594.1,RefSeq,gene,16835,16902,.,-,.,ID=gene-KEG88_t22;Dbxref=GeneID:64988031;Name=...
551658,NC_011594.1,RefSeq,gene,16906,16971,.,-,.,ID=gene-KEG88_t23;Dbxref=GeneID:64988032;Name=...

##### Eliminamos del dataframe anterior los genes con ID único

In [9]:
# Obtener el recuento de cada valor
value_counts = data_genes['seq_id'].value_counts()

In [10]:
# Seleccionar los valores donde el recuento es igual a 1
to_remove = value_counts[value_counts == 1].index

In [11]:
# Mantener las filas donde la columna de ID no esté en to_remove
data_genes_2 = data_genes[~data_genes.seq_id.isin(to_remove)]

In [12]:
data_genes_2

,seq_id,source,type,start,end,score,strand,phase,attributes
1,NC_042493.1,Gnomon,gene,6394,8916,.,+,.,ID=gene-LOC100569061;Dbxref=GeneID:100569061;N...
7,NC_042493.1,Gnomon,gene,6860,9850,.,-,.,ID=gene-LOC115033410;Dbxref=GeneID:115033410;N...
13,NC_042493.1,Gnomon,gene,15189,15686,.,+,.,ID=gene-LOC107882353;Dbxref=GeneID:107882353;N...
17,NC_042493.1,Gnomon,gene,105433,127327,.,+,.,ID=gene-LOC107882485;Dbxref=GeneID:107882485;N...
39,NC_042493.1,Gnomon,gene,151002,208448,.,+,.,ID=gene-LOC100166236;Dbxref=APHIDBASE:ACYPI007...
...,...,...,...,...,...,...,...,...,...
551645,NC_011594.1,RefSeq,gene,15802,16779,.,+,.,ID=gene-KEG88_p02;Dbxref=GeneID:7055887;Name=N...
551649,NC_011594.1,RefSeq,gene,16778,16841,.,+,.,ID=gene-KEG88_t20;Dbxref=GeneID:64988016;Name=...
551652,NC_011594.1,RefSeq,gene,16779,16842,.,+,.,ID=gene-KEG88_t21;Dbxref=GeneID:64988030;Name=...
551655,NC_011594.1,RefSeq,gene,16835,16902,.,-,.,ID=gene-KEG88_t22;Dbxref=GeneID:64988031;Name=...
551658,NC_011594.1,RefSeq,gene,16906,16971,.,-,.,ID=gene-KEG88_t23;Dbxref=GeneID:64988032;Name=...

In [13]:
# No se observan valores únicos de IDs
data_genes_2['seq_id'].value_counts()

seq_id
NC_042494.1       6530
NC_042493.1       4858
NC_042495.1       4643
NC_042496.1       1820
NW_021770374.1      79
                  ...
NW_021770926.1       2
NW_021770930.1       2
NW_021769915.1       2
NW_021770941.1       2
NW_021758889.1       2
Name: count, Length: 381, dtype: int64

##### Ordenamos el dataframe primero por strand (+,-), luego por 'seq_id, y por último 'start' y 'end'

In [14]:
data_genes_2.sort_values(['strand', 'seq_id','start', 'end'], inplace = True, ascending=True)

C:\Users\Gonza\AppData\Local\Temp\ipykernel_13112\2720884212.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_genes_2.sort_values(['strand', 'seq_id','start', 'end'], inplace = True, ascending=True)

##### Reseteamos el índice del dataframe

In [15]:
data_genes_2.reset_index(drop=True, inplace=True)

##### Eliminamos columnas innecesarias

In [16]:
data_genes_2.drop(columns=['source', 'type', 'score', 'phase', 'attributes'], inplace = True)

C:\Users\Gonza\AppData\Local\Temp\ipykernel_13112\1411996876.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_genes_2.drop(columns=['source', 'type', 'score', 'phase', 'attributes'], inplace = True)

##### Eliminamos la primera fila del dataframe 'data_genes_2' y luego reseteamos el índice

In [17]:
data_genes_sin_fila_cero = data_genes_2.drop(0, axis=0)
data_genes_sin_fila_cero.reset_index(drop=True, inplace=True)

##### Ciclo o secuencia en el que vamos almacenando en una columna denominada 'dist_genes' la distancia entre genes
Recordemos que la distancia entre genes será igual al valor absoluto entre (data_genes_sin_fila_cero['start'] - data_genes_2['end']). Debemos tener en cuenta que los calculos de resta no se hagan entre celdas de scaffolds diferentes.

In [18]:
cont = 0
for i in range(len(data_genes_2[['strand', 'seq_id']].drop_duplicates())):
    cont = 0
    strand_i = data_genes_2[['strand', 'seq_id']].drop_duplicates().iloc[i].strand
    seq_id_i = data_genes_2[['strand', 'seq_id']].drop_duplicates().iloc[i].seq_id
    for j,k,m,n,h,z in zip(data_genes_2['strand'], data_genes_2['seq_id'], data_genes_2['end'], data_genes_sin_fila_cero['start'], data_genes_sin_fila_cero['strand'], data_genes_sin_fila_cero['seq_id']):
        if strand_i == j and seq_id_i == k and strand_i == h and seq_id_i == z:
            data_genes_2.at[cont,'dist_genes']= abs(n-m)
        cont = cont + 1

C:\Users\Gonza\AppData\Local\Temp\ipykernel_13112\3325680309.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_genes_2.at[cont,'dist_genes']= abs(n-m)

##### Completamos con ceros los valores nulos

In [19]:
data_genes_2['dist_genes'].fillna(0, inplace=True)

C:\Users\Gonza\AppData\Local\Temp\ipykernel_13112\2031469019.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_genes_2['dist_genes'].fillna(0, inplace=True)

In [20]:
data_genes_2

               seq_id  start    end strand  dist_genes
0         NC_011594.1      1   1531      +         1.0
1         NC_011594.1   1532   1599      +         4.0
2         NC_011594.1   1603   2274      +         3.0
3         NC_011594.1   2277   2349      +         1.0
4         NC_011594.1   2350   2412      +        10.0
...               ...    ...    ...    ...         ...
19136  NW_021779252.1     58    654      -         0.0
19137  NW_021779808.1  11909  13336      -      3747.0
19138  NW_021779808.1  17083  18111      -         0.0
19139  NW_021779988.1   3650   4824      -         0.0
19140  NW_021780071.1   2194   2800      -         0.0

[19141 rows x 5 columns]

##### Agrupamos por 'seq_id' y obtenemos el promedio por cada uno de los ID

In [21]:
data_genes_3 = data_genes_2[['seq_id', 'dist_genes']].groupby('seq_id').mean().reset_index()

In [22]:
data_genes_3

             seq_id    dist_genes
0       NC_011594.1    350.184211
1       NC_042493.1  46817.692672
2       NC_042494.1  40506.443492
3       NC_042495.1  40856.882404
4       NC_042496.1  34928.725824
..              ...           ...
376  NW_021779510.1    979.500000
377  NW_021779630.1   4155.333333
378  NW_021779808.1   1873.500000
379  NW_021779988.1      0.000000
380  NW_021780071.1      0.000000

[381 rows x 2 columns]

In [23]:
# Imprimimos la media de la columna
print(data_genes_3['dist_genes'].mean())

4165.470459808587

-----

### Dataframe de Scaffolds únicos

##### Obtenemos los registros de tipo 'region'

In [24]:
data_regiones = df[df['type']=='region']

In [25]:
data_regiones

,seq_id,source,type,start,end,score,strand,phase,attributes
0,NC_042493.1,RefSeq,region,1,132544852,.,+,.,ID=NC_042493.1:1..132544852;Dbxref=taxon:7029;...
95749,NC_042494.1,RefSeq,region,1,170740645,.,+,.,ID=NC_042494.1:1..170740645;Dbxref=taxon:7029;...
298676,NC_042495.1,RefSeq,region,1,119541763,.,+,.,ID=NC_042495.1:1..119541763;Dbxref=taxon:7029;...
450822,NC_042496.1,RefSeq,region,1,42333646,.,+,.,ID=NC_042496.1:1..42333646;Dbxref=taxon:7029;N...
509306,NW_021758228.1,RefSeq,region,1,765,.,+,.,ID=NW_021758228.1:1..765;Dbxref=taxon:7029;Nam...
...,...,...,...,...,...,...,...,...,...
551527,NW_021780139.1,RefSeq,region,1,825,.,+,.,ID=NW_021780139.1:1..825;Dbxref=taxon:7029;Nam...
551528,NW_021780140.1,RefSeq,region,1,4440,.,+,.,ID=NW_021780140.1:1..4440;Dbxref=taxon:7029;Na...
551529,NW_021780141.1,RefSeq,region,1,30995,.,+,.,ID=NW_021780141.1:1..30995;Dbxref=taxon:7029;N...
551530,NW_021780142.1,RefSeq,region,1,5062,.,+,.,ID=NW_021780142.1:1..5062;Dbxref=taxon:7029;Na...
551531,NC_011594.1,RefSeq,region,1,16971,.,+,.,ID=NC_011594.1:1..16971;Dbxref=taxon:7029;Is_c...

##### Se observan que los IDs tienen counts únicos

In [26]:
data_regiones['seq_id'].value_counts()

seq_id
NC_042493.1       1
NW_021772854.1    1
NW_021772852.1    1
NW_021772851.1    1
NW_021772850.1    1
                 ..
NW_021765530.1    1
NW_021765529.1    1
NW_021765528.1    1
NW_021765527.1    1
NC_011594.1       1
Name: count, Length: 21228, dtype: int64

In [27]:
data_regiones.reset_index(drop=True, inplace=True)

In [28]:
data_regiones

,seq_id,source,type,start,end,score,strand,phase,attributes
0,NC_042493.1,RefSeq,region,1,132544852,.,+,.,ID=NC_042493.1:1..132544852;Dbxref=taxon:7029;...
1,NC_042494.1,RefSeq,region,1,170740645,.,+,.,ID=NC_042494.1:1..170740645;Dbxref=taxon:7029;...
2,NC_042495.1,RefSeq,region,1,119541763,.,+,.,ID=NC_042495.1:1..119541763;Dbxref=taxon:7029;...
3,NC_042496.1,RefSeq,region,1,42333646,.,+,.,ID=NC_042496.1:1..42333646;Dbxref=taxon:7029;N...
4,NW_021758228.1,RefSeq,region,1,765,.,+,.,ID=NW_021758228.1:1..765;Dbxref=taxon:7029;Nam...
...,...,...,...,...,...,...,...,...,...
21223,NW_021780139.1,RefSeq,region,1,825,.,+,.,ID=NW_021780139.1:1..825;Dbxref=taxon:7029;Nam...
21224,NW_021780140.1,RefSeq,region,1,4440,.,+,.,ID=NW_021780140.1:1..4440;Dbxref=taxon:7029;Na...
21225,NW_021780141.1,RefSeq,region,1,30995,.,+,.,ID=NW_021780141.1:1..30995;Dbxref=taxon:7029;N...
21226,NW_021780142.1,RefSeq,region,1,5062,.,+,.,ID=NW_021780142.1:1..5062;Dbxref=taxon:7029;Na...
21227,NC_011594.1,RefSeq,region,1,16971,.,+,.,ID=NC_011594.1:1..16971;Dbxref=taxon:7029;Is_c...

##### Incorporamos la lista de Scaffolds removidos del dataframe de genes en un dataframe llamado 'to_remove_serie'

In [29]:
to_remove_serie = pd.DataFrame(to_remove.tolist())

In [30]:
to_remove_serie

                   0
0     NW_021771286.1
1     NW_021771064.1
2     NW_021770836.1
3     NW_021771277.1
4     NW_021770840.1
...              ...
1171  NW_021768930.1
1172  NW_021768903.1
1173  NW_021768863.1
1174  NW_021768858.1
1175  NW_021770530.1

[1176 rows x 1 columns]

In [31]:
to_remove_serie.shape

(1176, 1)

##### Unimos el dataframe anterior con 'data_genes', para poder ver los datos de inicio y fin del gen

In [32]:
scaffolds_unicos_gene = to_remove_serie.merge(data_genes, left_on =0, right_on = 'seq_id', how = 'left').drop(columns = [0])

In [33]:
scaffolds_unicos_gene

,seq_id,source,type,start,end,score,strand,phase,attributes
0,NW_021771286.1,Gnomon,gene,1936,2680,.,+,.,ID=gene-LOC115034964;Dbxref=GeneID:115034964;N...
1,NW_021771064.1,Gnomon,gene,190,1659,.,+,.,ID=gene-LOC103307957;Dbxref=GeneID:103307957;N...
2,NW_021770836.1,Gnomon,gene,131,2024,.,+,.,ID=gene-LOC100169207;Dbxref=APHIDBASE:ACYPI009...
3,NW_021771277.1,Gnomon,gene,776,1474,.,-,.,ID=gene-LOC107882706;Dbxref=GeneID:107882706;N...
4,NW_021770840.1,cmsearch,gene,525,682,.,+,.,ID=gene-LOC115034869;Dbxref=GeneID:115034869;N...
...,...,...,...,...,...,...,...,...,...
1171,NW_021768930.1,Gnomon,gene,178,2920,.,-,.,ID=gene-LOC100572407;Dbxref=GeneID:100572407;N...
1172,NW_021768903.1,Gnomon,gene,3841,4569,.,-,.,ID=gene-LOC100573162;Dbxref=GeneID:100573162;N...
1173,NW_021768863.1,Gnomon,gene,356,1063,.,+,.,ID=gene-LOC103311793;Dbxref=GeneID:103311793;N...
1174,NW_021768858.1,cmsearch,gene,3621,3778,.,+,.,ID=gene-LOC115034653;Dbxref=GeneID:115034653;N...
1175,NW_021770530.1,cmsearch,gene,42487,42644,.,-,.,ID=gene-LOC115034792;Dbxref=GeneID:115034792;N...

##### Se observa que, evidentemente, los valores siguen siendo únicos

In [34]:
scaffolds_unicos_gene['seq_id'].value_counts()

seq_id
NW_021771286.1    1
NW_021761610.1    1
NW_021762272.1    1
NW_021762284.1    1
NW_021762301.1    1
                 ..
NW_021771768.1    1
NW_021771781.1    1
NW_021771820.1    1
NW_021771830.1    1
NW_021770530.1    1
Name: count, Length: 1176, dtype: int64

##### Eliminamos columnas innecesarias para los dataframes de 'scaffolds_unicos_gene' y 'data_regiones'

In [35]:
scaffolds_unicos_gene.drop(columns=['source', 'type', 'score', 'phase', 'attributes'], inplace = True)

In [36]:
scaffolds_unicos_gene

              seq_id  start    end strand
0     NW_021771286.1   1936   2680      +
1     NW_021771064.1    190   1659      +
2     NW_021770836.1    131   2024      +
3     NW_021771277.1    776   1474      -
4     NW_021770840.1    525    682      +
...              ...    ...    ...    ...
1171  NW_021768930.1    178   2920      -
1172  NW_021768903.1   3841   4569      -
1173  NW_021768863.1    356   1063      +
1174  NW_021768858.1   3621   3778      +
1175  NW_021770530.1  42487  42644      -

[1176 rows x 4 columns]

In [37]:
data_regiones.drop(columns=['source', 'type', 'score', 'phase', 'attributes'], inplace = True)

C:\Users\Gonza\AppData\Local\Temp\ipykernel_13112\1086780129.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_regiones.drop(columns=['source', 'type', 'score', 'phase', 'attributes'], inplace = True)

In [38]:
data_regiones

               seq_id  start        end strand
0         NC_042493.1      1  132544852      +
1         NC_042494.1      1  170740645      +
2         NC_042495.1      1  119541763      +
3         NC_042496.1      1   42333646      +
4      NW_021758228.1      1        765      +
...               ...    ...        ...    ...
21223  NW_021780139.1      1        825      +
21224  NW_021780140.1      1       4440      +
21225  NW_021780141.1      1      30995      +
21226  NW_021780142.1      1       5062      +
21227     NC_011594.1      1      16971      +

[21228 rows x 4 columns]

##### Unimos los dataframes de scaffolds con los de 'data_regiones', con el objetivo de tener en un único dataframe el fin e inicio del gen y de las regiones

In [39]:
scaffolds_unicos_gene_2 = scaffolds_unicos_gene.merge(data_regiones, left_on ='seq_id', right_on = 'seq_id', how = 'left').drop(columns=['strand_y'])

In [40]:
scaffolds_unicos_gene_2

              seq_id  start_x  end_x strand_x  start_y  end_y
0     NW_021771286.1     1936   2680        +        1   3147
1     NW_021771064.1      190   1659        +        1   3861
2     NW_021770836.1      131   2024        +        1   5459
3     NW_021771277.1      776   1474        -        1   1822
4     NW_021770840.1      525    682        +        1   4218
...              ...      ...    ...      ...      ...    ...
1171  NW_021768930.1      178   2920        -        1   3369
1172  NW_021768903.1     3841   4569        -        1   4648
1173  NW_021768863.1      356   1063        +        1   1130
1174  NW_021768858.1     3621   3778        +        1   4465
1175  NW_021770530.1    42487  42644        -        1  43177

[1176 rows x 6 columns]

##### Renombramos las columnas

In [41]:
scaffolds_unicos_gene_2.rename(columns={'start_x':'start_gene', 'end_x':'end_gene', 'strand_x':'strand', 'start_y':'start_region', 'end_y':'end_region'}, inplace = True)

scaffolds_unicos_gene_2.columns

Index(['seq_id', 'start_gene', 'end_gene', 'strand', 'start_region',
       'end_region'],
      dtype='object')

In [42]:
scaffolds_unicos_gene_2

              seq_id  start_gene  end_gene strand  start_region  end_region
0     NW_021771286.1        1936      2680      +             1        3147
1     NW_021771064.1         190      1659      +             1        3861
2     NW_021770836.1         131      2024      +             1        5459
3     NW_021771277.1         776      1474      -             1        1822
4     NW_021770840.1         525       682      +             1        4218
...              ...         ...       ...    ...           ...         ...
1171  NW_021768930.1         178      2920      -             1        3369
1172  NW_021768903.1        3841      4569      -             1        4648
1173  NW_021768863.1         356      1063      +             1        1130
1174  NW_021768858.1        3621      3778      +             1        4465
1175  NW_021770530.1       42487     42644      -             1       43177

[1176 rows x 6 columns]

##### Hallamos el inicio del gen 'd0', que será evidentemente igual a 'start_gene'

In [43]:
scaffolds_unicos_gene_2['d0'] = scaffolds_unicos_gene_2['start_gene']

In [44]:
scaffolds_unicos_gene_2

,seq_id,start_gene,end_gene,strand,start_region,end_region,d0
0,NW_021771286.1,1936,2680,+,1,3147,1936
1,NW_021771064.1,190,1659,+,1,3861,190
2,NW_021770836.1,131,2024,+,1,5459,131
3,NW_021771277.1,776,1474,-,1,1822,776
4,NW_021770840.1,525,682,+,1,4218,525
...,...,...,...,...,...,...,...
1171,NW_021768930.1,178,2920,-,1,3369,178
1172,NW_021768903.1,3841,4569,-,1,4648,3841
1173,NW_021768863.1,356,1063,+,1,1130,356
1174,NW_021768858.1,3621,3778,+,1,4465,3621
1175,NW_021770530.1,42487,42644,-,1,43177,42487

##### Hallamos la distancia 'd2', que será igual al fin de la region menos el fin del gen

In [45]:
scaffolds_unicos_gene_2['d2'] = scaffolds_unicos_gene_2['end_region'] - scaffolds_unicos_gene_2['end_gene']

In [46]:
scaffolds_unicos_gene_2

,seq_id,start_gene,end_gene,strand,start_region,end_region,d0,d2
0,NW_021771286.1,1936,2680,+,1,3147,1936,467
1,NW_021771064.1,190,1659,+,1,3861,190,2202
2,NW_021770836.1,131,2024,+,1,5459,131,3435
3,NW_021771277.1,776,1474,-,1,1822,776,348
4,NW_021770840.1,525,682,+,1,4218,525,3536
...,...,...,...,...,...,...,...,...
1171,NW_021768930.1,178,2920,-,1,3369,178,449
1172,NW_021768903.1,3841,4569,-,1,4648,3841,79
1173,NW_021768863.1,356,1063,+,1,1130,356,67
1174,NW_021768858.1,3621,3778,+,1,4465,3621,687
1175,NW_021770530.1,42487,42644,-,1,43177,42487,533

##### La distancia conocida mínima será igual a la suma entre 'd0' y 'd2'

In [47]:
scaffolds_unicos_gene_2['dist_conocida'] = scaffolds_unicos_gene_2['d0'] + scaffolds_unicos_gene_2['d2']

In [48]:
scaffolds_unicos_gene_2

,seq_id,start_gene,end_gene,strand,start_region,end_region,d0,d2,dist_conocida
0,NW_021771286.1,1936,2680,+,1,3147,1936,467,2403
1,NW_021771064.1,190,1659,+,1,3861,190,2202,2392
2,NW_021770836.1,131,2024,+,1,5459,131,3435,3566
3,NW_021771277.1,776,1474,-,1,1822,776,348,1124
4,NW_021770840.1,525,682,+,1,4218,525,3536,4061
...,...,...,...,...,...,...,...,...,...
1171,NW_021768930.1,178,2920,-,1,3369,178,449,627
1172,NW_021768903.1,3841,4569,-,1,4648,3841,79,3920
1173,NW_021768863.1,356,1063,+,1,1130,356,67,423
1174,NW_021768858.1,3621,3778,+,1,4465,3621,687,4308
1175,NW_021770530.1,42487,42644,-,1,43177,42487,533,43020

##### Descargamos las bases de datos

In [49]:
scaffolds_unicos_gene_2.to_csv('scaffolds_unicos.csv', index = False)

In [50]:
data_genes_2.to_csv('data_genes_sin_agrupar.csv', index = False)

In [51]:
data_genes_3.to_csv('data_genes_agrupados.csv', index = False)